<%- include('../includes/head.ejs') %>
<link href="/css/form.css" rel="stylesheet">
</head>
  <%- include('../includes/index-navigation.ejs') %>

     <body id="page-top">
    <div id="home" class="intro route bg-image" style="background-image: url(/img/reading-book.jpg)">
      <div class="overlay-itro"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
              <form class="quote-form" action="/<% if (editing) { %>edit-quote<% } else { %>add-quote<% } %>" method="POST">
                <div class="form-control">
                  <label for="title">Source</label>
                  <input type="text" name="source" <% if (editing) { %> value=" <%= quote.source %> "<% } else { %> placeholder = "ex) 신문 이름 or 책 제목"<% } %> autofocus>
                </div>
                <div class="form-control">
                  <label for="title">Title</label>
                  <input type="text" name="title" <% if (editing) { %> value=" <%= quote.title %> "<% } else { %> placeholder = "ex) 기사의 제목"<% } %> autofocus>
                </div>
                <div class="form-control">
                  <label for="title">Quote</label>
                  <input type="text" name="quote" <% if (editing) { %> value=" <%= quote.quote %> "<% } else { %> placeholder = "ex) 원하는 글귀"<% } %> autofocus>
                </div>
                <div class="form-control">
                  <label for="title">Speaker</label>
                  <input type="text" name="speaker" <% if (editing) { %> value=" <%= quote.speaker %> "<% } else { %> placeholder = "ex) 화자"<% } %> autofocus>
                </div>
                <% if (editing) { %>
                  <input type="hidden" value="<%= quote._id %>" name="quoteId">
                  <% } %>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="btn-2" type="submit"><% if (editing) { %>Update Quote<% } else { %>Add Quote<% } %></button>
              </form>
          </div>
        </div>
      </div>
    </div>
    </body>

<%- include('../includes/end.ejs') %>