<%- include('../includes/head.ejs') %>
  </head>

  <%- include('../includes/index-navigation.ejs') %>
  
  <body id="page-top">
  <% if (quotes.length > 0 ) { %> 
    <% for(let quote of quotes) { %> 
    <div id="home" class="intro route bg-image" style="background-image: url(img/background.jpg)">
      <div class="overlay-itro"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <a href="/quotes-list/<%= quote._id%>" class="quotes-list-quote"> <%= quote.quote %> </a>
            <br>
            <a href="/quotes-list/<%= quote._id%>" class="quotes-list-source"> <%= quote.source %> </a>
          </div>
          <a href="/quotes-list/<%= quote._id%>" class="btn">Details</a>
        </div>
      </div>
    </div>
  <% } %> 
<% } %> 
  </body>
<%- include('../includes/end.ejs') %>